/* Фон сторінки */
body {
  background-image: url("../img/image1.png");
}

/* Заголовок */
.god-title {
  font-family: 'Cinzel', serif;
  font-size: 64px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 4px;
}

/* Контент */
.content {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

/* Картинка */
.content img {
  width: 320px;
  height: 450px; /* або будь-яка висота, яка тобі підходить */
  object-fit: cover;
  border-radius: 14px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.15);
  transition: 0.3s ease;
}


/* Текст */
.text {
  font-size: 22px;
  line-height: 1.7;
  color: #ffffff;

  background: rgba(0, 0, 0, 0.45);
  padding: 30px;
  border-radius: 12px;

  text-shadow: 0 2px 6px rgba(0,0,0,0.8);
}

/* Кнопка назад */
.back-button {
  display: inline-block;

  font-family: 'Cinzel', serif;
  font-size: 20px;

  color: #f1e6b2;
  text-decoration: none;

  padding: 8px 18px;
  border: 2px solid #f1e6b2;
  border-radius: 10px;

  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 12px rgba(0,0,0,0.7);

  transition: all 0.3s ease;

  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 10;
}

.back-button:hover {
  background: #f1e6b2;
  color: #000;
}

.full-width {
  margin-top: 40px;
}

/* Попап */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(4px);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background: rgba(0,0,0,0.85);
  padding: 25px;
  border-radius: 12px;
  width: 400px;
  color: #fff;
  font-size: 20px;
  text-shadow: 0 2px 6px rgba(0,0,0,0.8);
  border: 2px solid #f1e6b2;
  box-shadow: 0 0 20px rgba(255,255,255,0.2);
}

.close-btn {
  float: right;
  font-size: 28px;
  cursor: pointer;
  color: #f1e6b2;
}

.close-btn:hover {
  color: #fff;
}

/* Для Chrome, Edge, Opera */
::-webkit-scrollbar {
  width: 6px; /* товщина */
}

::-webkit-scrollbar-track {
  background: transparent; /* без білої смуги */
}

::-webkit-scrollbar-thumb {
  background: rgba(80, 80, 80, 0.6); /* темний повзунок */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(120, 120, 120, 0.8);
}

/* Для Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(80,80,80,0.6) transparent;
}
